/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 22, 2015, 10:25:19 PM
    Author     : MSI
*/
body{
    background-color: #E0EAEA;
}
.bs-callout {
    padding: 20px;
    border: 1px solid #eee;
  //  border-style: solid;
    border-left-width: 5px;
    border-radius: 3px 3px 0 0;
}
.bs-callout-info {
    /* border-left-color: #5bc0de; */
    border-left-color: #9D1D35;
    background: none repeat scroll 0% 0% #ECEEED;
}
.title-groups {
    overflow: auto;
}
.margin-10 {
    margin: 10px 0px;
}
.padding-10 {
    padding: 10px 10px !important;
}
.title-groups a{
    color: #2C2C2C;

}
.post.excerpt h4, .row h4 {
    font: 700 14px arial;
}
.bs-callout-info h4 {
    color: #0B1C70;
}
.bs-callout h4 {
    margin: 0;
}
.post.excerpt h4, .row h4 {
    font: 700 14px arial;
    color: #333;
}

.bullet {
    position: relative;
    top: 1px;
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    height: 12px;
    width: 15px;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    background-image: url('/img/bullets.gif');
    background-repeat: no-repeat;
}
.bullet-12 {
    background-position: -20px -72px;
}
a:hover {
    color: #0b1aa2;
    /* color: #093280; */
    text-decoration: none;
}
a {
    color: #2C2C2C;
}

.news-name {
    font: 700 14px arial;
    color: #333;
}
.item p {
    margin-left: 2px;
    text-align: justify;
}



////////////////////////
.row {
    padding-bottom: 5px;
    margin-right: 20px;
}
.post.excerpt {
    clear: both;
    margin-bottom: 30px;
    background-color: #fff;
    padding: 20px 10px 10px 10px;
    width: auto;
    border: 1px solid #9D1D35;
}
.post-date-ribbon {
    background-color: #9D1D35;
    width: 100px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    color: #fff;
    font-size: 12px;
    margin-top: -30px;
    position: relative;
}
.post.excerpt h4, .row h4 {
    font: 700 14px arial;
    color: #333;
}
.readMore {
    float: right;
    color: #7B7A79;
    margin-right: -10px;
    margin-top: -10px;
}
.readMore a {
    font-size: 10px;
    color: #fff;
    padding: 3px 6px;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    transition: all 0.25s linear;
    font-family: 'Monda', sans-serif;
    background-color: #a52b3c;
}

.bs-group {
    margin-left: 10px;
    margin-top: -10px;
}
.category-caption {
    height: 30px;
    text-indent: 7px;
    border-left: 5px solid #9d1d35;
    margin-bottom: 5px;
    background-color: #f7e787;
}
.post.excerpt h4, .row h4 {
    font: 700 14px arial;
    color: #333;
}
.category-caption h4 {
    line-height: 30px !important;
}
.ued-caption > h2, .ued-caption > h3, .ued-caption > h4, .nav-bottom h3, .category-caption > h4 {
    color: #0b1c70;
}
.item dd {
    border-top: 1px dotted #ddd;
    padding: 5px 0;
    overflow: hidden;
}
.end {
    border: none !important;
}
.padding-5 {
    padding: 5px 0px;
}
.bullet-17 {
    background-position: -280px -73px;
}
.bullet {
    position: relative;
    top: 1px;
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    height: 12px;
    width: 15px;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    background-image: url('/img/bullets.gif');
    background-repeat: no-repeat;
}
.row-left{
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}
.main{
    background-color: white;
    min-height: 600px;
    padding-bottom: 50px;
}
.sub-main{
    padding-left: 15px;
 //   padding-right: 10px;
}

///////view page
.comment{
   // margin-left: 30px;
   width: 100%;
}
.result{
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #E0EAEA;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: -5px;
    margin-bottom: 10px;
}
.result:hover{
    background-color: #FAF8FE;
}
.resultinfo{
    
   float: right;
   margin-bottom: -3px;
}
.resultinfo a{
    font-size: 12px;
    font-family: 'Monda', sans-serif;
    background-color: #E0EAEA;
    padding: 4px;
    
}
.resultinfo a:hover{
   color: #9D1D35;
    
}
.old-student{
    background-color: #F9F9FB;
    border-style: solid;
    border-radius: 30px;
    border-width: 1px;
    border-color: #EEEEEF;
    height: 300px;
    margin-bottom: 20px;
    padding-left: 8px;
    padding-right: 8px;
    
}
.old-student span{
    font-weight:bold; 
}
.old-student hr{
    margin: 0;
}